
<table class="table">
	<tr>
		<th>Log entry</th>
		<th>Log hash</th>
		<th>le button</th>
	</tr>
	<% for (const com of commits) { %> 
		<tr>
			<td>
				<%= com.msg %>
			</td>
			<td>
				<%= com.hash %>
			</td>
			<td>
				<form action="/file-management/revert/<%= com.hash %>"><button type="submit">Revert to</button></form>
			</td>
		</tr>
	<% } %>
</table>